{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'article.css' %}">
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post">{% csrf_token %}
        <input type="text" name="username" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="password" name="password2" placeholder="Повторите пароль" required>
        <input type="submit" value="Зарегистрироваться">
    </form>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
    <script src="{% static 'main.js' %}"></script>
</body>
</html>
